.app__specialMenu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}
.app__specialMenu-title {
  margin-bottom: 2rem;
  text-align: center;
}
.app__specialMenu-title h1 {
  margin-top: 3rem;
}
.menu-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.menu-pages img {
  width: 80%;
  height: auto;
}
