.comments {
  padding: 2rem;
  background: url(../../assets/bg.png);
  background-size: cover;
  height: 120rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.comments::-webkit-scrollbar {
  overflow: hidden;
}
.comment-form-title {
  color: aliceblue;
  text-align: left;
  margin-left: 5rem;
  color: var(--color-golden);
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.comments h1 {
  text-align: center;
}
.replies {
  margin-left: 2rem;
}

@media screen and (max-width: 600px) {
  .comments h1 {
    font-size: 28px;
    margin-bottom: 2rem;
  }
}
